# compiled output
/dist/
/declarations/

# dependencies
/node_modules/

# misc
/.env*
/.pnp*
/.eslintcache
/coverage/
/npm-debug.log*
/testem.log
/yarn-error.log
/.DS_Store/
/.vscode/
*.swp
*.swo

# broccoli-debug
/DEBUG/
