<li
  {{register-uikit-events
    beforeshow=this.onBeforeShow
    show=this.onShow
    shown=this.onShown
    beforehide=this.onBeforeHide
    hide=this.onHide
    hidden=this.onHidden
  }}
  ...attributes
>
  {{yield}}
</li>