<td><code>size</code></td>
<td><code>String</code></td>
<td><code>''</code></td>
<td>The size of the {{name}}</td>
<td>
  <select class="uk-select" onchange={{action (mut value) value='target.value'}}>
    {{#each sizes as |s|}}
      <option value={{s}}>{{s}}</option>
    {{/each}}
  </select>
</td>