<h2>Spinner</h2>

<div class="uk-padding uk-box-shadow-medium uk-margin">
  {{uk-spinner}}
</div>

{{#uk-switcher animation='uk-animation-fade' as |switcher|}}
  {{#switcher.nav type='tab' as |nav|}}
    {{#nav.component as |tab|}}
      {{#tab.item}}Example{{/tab.item}}
    {{/nav.component}}
  {{/switcher.nav}}

  {{#switcher.content as |content|}}
    {{#content.item}}
      {{code-snippet name='spinner.hbs'}}
    {{/content.item}}
  {{/switcher.content}}
{{/uk-switcher}}