<td><code>width</code></td>
<td><code>String</code></td>
<td><code>''</code></td>
<td>The width of the {{name}}, more information about possible values <a href="https://getuikit.com/docs/width">here</a>.</td>
<td>
  {{input class='uk-input' value=value}}
</td>