@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i";
@import "https://fonts.googleapis.com/css?family=Source+Code+Pro:400";

$global-font-family: "Source Sans Pro", sans-serif;
$base-code-font-family: "Source Code Pro", monospace;
$base-body-font-weight: 300;
$base-heading-font-weight: 300;

@import "ember-uikit";

.uk-nav-primary a.active {
  color: $global-primary-background;
  position: relative;

  &:hover,
  &:active,
  &:focus {
    color: $global-primary-background;
    position: relative;
  }

  &::before {
    content: "";
    display: block;
    width: 10px;
    height: 1px;
    background-color: $global-primary-background;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateX(calc(-100% - 5px));
  }
}

.uk-sortable-empty {
  border-color: $global-warning-background;
  border-style: dashed;
}

pre.shiki {
  padding: 0;
}
