<div
  class={{trimmed-join
    "uk-card"
    (if @hover "uk-card-hover")
    this.color
    this.size
    this.width
  }}
  ...attributes
>
  {{yield
    (hash
      header=(component "uk-card/header")
      title=(component "uk-card/title")
      body=(component "uk-card/body")
      footer=(component "uk-card/footer")
    )
  }}
</div>