<UkModal
  @visible={{this.visible}}
  @onHide={{fn (mut this.visible) false}}
  as |modal|
>
  <modal.header>
    <h2 class="uk-modal-title">Attention</h2>
  </modal.header>
  <modal.body>
    <p>Do you really want to proceed?</p>
  </modal.body>
  <modal.footer @class="uk-text-right">
    <UkButton @color="primary" @label="Ok" @onClick={{this.submit}} />
  </modal.footer>
</UkModal>

<UkButton @label="Open modal" @onClick={{fn (mut this.visible) true}} />