<UkModal @visible={{visible}} @on-hide={{action (mut visible) false}} as |modal|>
  <modal.header>
    <h2 class="uk-modal-title">Attention</h2>
  </modal.header>
  <modal.body>
    <p>Do you really want to proceed?</p>
  </modal.body>
  <modal.footer @class="uk-text-right">
    {{uk-button color="primary" label="Ok" on-click=(action "submit")}}
  </modal.footer>
</UkModal>

{{uk-button label="Open modal" on-click=(action (mut visible) true)}}
