{{#-in-element containerElement}}
  <div id={{this.modalId}}>
    <div class="uk-modal-dialog">
      {{#if @btnClose}}<button class="uk-modal-close-default" type="button" uk-close></button>{{/if}}
      <div class="uk-modal-body">
        {{yield}}
      </div>
    </div>
  </div>
{{/-in-element}}