<h2>Width</h2>

<div class="uk-padding uk-box-shadow-medium uk-margin">
  <UkFlex>
    {{#uk-width width class="uk-padding uk-background-secondary uk-light"}}{{if width width "No width set"}}{{/uk-width}}
  </UkFlex>
</div>

<UkSwitcher @animation="uk-animation-fade" as |switcher|>
  <switcher.nav @type="tab" as |nav|>
    <nav.component as |tab|>
      <tab.item>Props</tab.item>
      <tab.item>Example</tab.item>
    </nav.component>
  </switcher.nav>

  <switcher.content as |content|>
    <content.item>
      <div class="uk-overflow-auto">
        <table class="uk-table uk-table-divider">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
              <th>Demo</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>width</code></td>
              <td><code>String</code></td>
              <td><code>""</code></td>
              <td>
                The width of the element, more information about possible
                values <a href="https://getuikit.com/docs/width">here</a>.
                This can also be multiple widths separated by a whitespace.
                This is the first positional parameter.
              </td>
              <td>
                {{input class="uk-input" value=width}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </content.item>
    <content.item>
      {{code-snippet name="width.hbs"}}
    </content.item>
  </switcher.content>
</UkSwitcher>
