<div class="uk-container uk-padding">
  <div uk-grid class="uk-grid-divider">
    <div class="uk-width-1-1 uk-width-1-4@m">
      <ul class="uk-nav uk-nav-primary">
        <li>{{#link-to 'button'}}Button{{/link-to}}</li>
        <li>{{#link-to 'card'}}Card{{/link-to}}</li>
        <li>{{#link-to 'icon'}}Icon{{/link-to}}</li>
        <li>{{#link-to 'spinner'}}Spinner{{/link-to}}</li>
      </ul>
    </div>
    <div class="uk-width-1-1 uk-width-3-4@m">
      {{outlet}}
    </div>
  </div>
</div>