<h2>Icon</h2>

{{uk-icon icon ratio=ratio}}

<ul uk-tab>
  <li><a href="#">Props</a></li>
  <li><a href="#">Example</a></li>
</ul>

<ul class="uk-switcher">
  <li>
    <table class="uk-table uk-table-divider">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Default</th>
          <th>Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>icon</code></td>
          <td><code>String</code></td>
          <td><code>''</code></td>
          <td>The name of the icon, this is also the first positional
          parameter. For a list of icons, see <a href="https://getuikit.com/docs/icon#library">here</a>.</td>
          <td>
            {{input class='uk-input' value=icon}}
          </td>
        </tr>
        <tr>
          <td><code>ratio</code></td>
          <td><code>Number</code></td>
          <td><code>1</code></td>
          <td>The ratio for the size of the icon</td>
          <td>
            {{input type='number' min=1 class='uk-input' value=ratio}}
          </td>
        </tr>
      </tbody>
    </table>
  </li>
  <li>{{code-snippet name='icon.hbs'}}</li>
</ul>