<h2>Welcome to ember-uikit </h2>

<p>
  This addon aims to bring <a href="https://getuikit.com">UIkit</a> to ember
  applications.
</p>

<p>
  <b>Please consider that <code>ember-uikit</code> is still in alpha!</b>
</p>

<h3>Installation</h3>

<p>
  Install this addon like every other ember-cli addon:
</p>

{{code-snippet name='installation.sh'}}

<p>
  This will also install <code>ember-cli-sass</code> and add the needed SASS
  include to <code>app/styles/app.scss</code>.
</p>

<h3>Configuration</h3>

<table class="uk-table uk-table-divider">
  <thead>
    <tr>
      <th>Option</th>
      <th>Type</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>importUIkitCSS</code></td>
      <td><code>Boolean</code></td>
      <td><code>true</code></td>
      <td>Whether to import the CSS of UIkit</td>
    </tr>
    <tr>
      <td><code>importUIkitJS</code></td>
      <td><code>Boolean</code></td>
      <td><code>true</code></td>
      <td>Whether to import the JS of UIkit</td>
    </tr>
    <tr>
      <td><code>importUIkitAssets</code></td>
      <td><code>Boolean</code></td>
      <td><code>true</code></td>
      <td>Whether to import the assets of UIkit</td>
    </tr>
    <tr>
      <td><code>importUIkitIcons</code></td>
      <td><code>Boolean</code></td>
      <td><code>true</code></td>
      <td>Whether to import the icons of UIkit</td>
    </tr>
    <tr>
      <td><code>useIcons</code></td>
      <td><code>Boolean</code></td>
      <td><code>true</code></td>
      <td>Whether to use UIkits icons</td>
    </tr>
    <tr>
      <td><code>whitelist</code></td>
      <td><code>String[]</code></td>
      <td><code>[]</code></td>
      <td>
        A list of included components. Only components in this list will be
        included in your build. You should never use <code>whitelist</code>
        and <code>blacklist</code>!
      </td>
    </tr>
    <tr>
      <td><code>blacklist</code></td>
      <td><code>String[]</code></td>
      <td><code>[]</code></td>
      <td>
        A list of excluded components. Only components not in this list will
        be included in your build
      </td>
    </tr>
    <tr>
      <td><code>notification</code></td>
      <td><code>Object</code></td>
      <td><code>{}</code></td>
      <td>
        Global options for the {{#link-to 'services.notification'}}notification service{{/link-to}}.
        For available options (<code>message</code> and <code>status</code> will be ignored)
        check the <a href="https://getuikit.com/docs/notification#component-options">UIkit documentation</a>.
      </td>
    </tr>
  </tbody>
</table>

<p>
  Those options can be configured in your <code>ember-cli-build.js</code> file:
</p>

{{code-snippet name='configuration.js'}}

<h3>Contribution</h3>

<p>
  Contributions are very welcome. Feel free to open an issue or PR!
</p>
