<h2>Welcome to ember-uikit</h2>

<p>
  This addon aims to bring <a href="https://getuikit.com">UIkit</a> to ember
  applications.
</p>

<p>
  <b>Please consider that <code>ember-uikit</code> is still in alpha!</b>
</p>

<h3>Installation</h3>

<p>
  Install this addon like every other ember-cli addon:
</p>

{{code-snippet name='installation.sh'}}

<p>
  This will also install <code>ember-cli-sass</code> and add the needed SASS
  include to <code>app/styles/app.scss</code>.
</p>

<h3>Contribution</h3>

<p>
  Contributions are very welcome. Feel free to open an issue or PR!
</p>

<a class="github-button" href="https://github.com/adfinis-sygroup/ember-uikit/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork adfinis-sygroup/ember-uikit on GitHub">Fork</a>